<div class="container">
  <div class="c-menu">
    <div id="list" class="items-list">
      <div class="item">
        <a
          href="https://sass-scss.ru"
          data-img="https://eu1.searchpreview.de/preview?s=https://sass-scss.ru&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Home
        </a>
      </div>
      <div class="item">
        <a
          href="http://www.color-hex.com/"
          data-img="https://eu1.searchpreview.de/preview?s=http://www.color-hex.com&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          About Me
        </a>
      </div>
      <div class="item">
        <a
          href="https://webref.ru/"
          data-img="https://eu1.searchpreview.de/preview?s=https://webref.ru&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Work Experience
        </a>
      </div>
      <div class="item">
        <a
          href="https://www.w3schools.com/"
          data-img="https://eu1.searchpreview.de/preview?s=https://www.w3schools.com&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Education Details
        </a>
      </div>
      <div class="item">
        <a
          href="https://learn.javascript.ru/"
          data-img="https://eu1.searchpreview.de/preview?s=https://learn.javascript.ru&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Personal Details
        </a>
      </div>
      <div class="item">
        <a
          href="https://caniuse.com"
          data-img="https://eu1.searchpreview.de/preview?s=https://caniuse.com&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Core Projects
        </a>
      </div>
      <div class="item">
        <a
          href="https://css-tricks.com/"
          data-img="https://eu1.searchpreview.de/preview?s=https://css-tricks.com&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Other Works
        </a>
      </div>
      <div class="item">
        <a
          href="https://codepen.io"
          data-img="https://eu1.searchpreview.de/preview?s=https://codepen.io&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Ionic Projects
        </a>
      </div>
      <div class="item">
        <a
          href="https://unicode-table.com"
          data-img="https://eu1.searchpreview.de/preview?s=https://unicode-table.com&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Angular Projects
        </a>
      </div>
      <div class="item">
        <a
          ref="https://fontawesome.com/"
          data-img="https://eu1.searchpreview.de/preview?s=https://fontawesome.com&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          React Projects
        </a>
      </div>
      <div class="item">
        <a
          href="https://ru.vuejs.org/index.html"
          data-img="https://eu1.searchpreview.de/preview?s=https://vuejs.org&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Spring Projects
        </a>
      </div>
      <div class="item">
        <a
          href="http://php.net/manual/ru/intro-whatis.php"
          data-img="https://eu1.searchpreview.de/preview?s=http://php.net&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Other Details
        </a>
      </div>
      <div class="item">
        <a
          href="http://www.sql.ru/"
          data-img="https://eu1.searchpreview.de/preview?s=http://www.sql.ru&ua=Firefox&ver=1003&opts=111"
          target="_blank"
          rel="noopener"
        >
          Contact Me
        </a>
      </div>
    </div>
    <div class="top"></div>
    <div class="btn prev" (click)="animation({}, 1)">˄</div>
    <div id="pic" class="img-box"></div>
    <div class="btn next" (click)="animation({}, 0)">˅</div>
    <div class="bottom"></div>
  </div>
</div>
