.main-container-left {
  /* box-shadow: 1px 1px 10px rgb(202 149 149 / 80%);
  border-radius: 0px 10px 40px 0px; */
  box-shadow: 1px 1px 10px rgb(202 149 149 / 80%);
  position: absolute;
  height: 100%;
  width: 300px;
  border-radius: 0px 2px 0px 0px;
  border-right: 2px solid #b767ff;
  animation: opacityBlured 2000ms 1 ease;
  background-image: linear-gradient(to right, #0c0213, white);
  border-bottom-right-radius: 210px;
  border-top-right-radius: 210px;
}

@keyframes slide-up {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.set-left {
  left: -300px;
}
.move-to-left {
  left: -300px;
  animation: moveToLeft 200ms 1 ease;
}
@keyframes moveToLeft {
  0% {
    left: 0;
  }
  100% {
    left: -300px;
  }
}
.move-to-right {
  left: 0px;
  animation: moveToRight 200ms 1 ease;
}
@keyframes moveToRight {
  0% {
    left: -300px;
  }
  100% {
    left: 0px;
  }
}
.handler {
  position: absolute;
  top: calc((100% - 40px) / 2);
  right: 12px;
  transform: translate(88%, -10%);
  background: #ffffff;
  border-radius: 50%;
  border: 2px solid #000000;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 27px;
  height: 27px;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px rgba(241, 239, 239, 0.267);
  z-index: 2;
}
.material-icons-round {
  transform: rotate(38deg);
}
