<!-- <div
  style="    position: absolute;
z-index: 2000000;"
  *ngIf="openNavBar"
>
  <circular-nav (closeNavBar)="openOrCloseNavBar($event)"></circular-nav>
</div> -->
<home-screen></home-screen>
<about-me></about-me>
<personal-details></personal-details>
<education-details></education-details>
<experience-details></experience-details>
<project-details></project-details>
<!-- <flash-screen *ngIf="flashScreen"></flash-screen> -->
<!-- *ngIf="!flashScreen" -->
<!-- <div
  style="height: 100%;
width: 100%;
overflow: auto;
position: absolute;background: #131731;"
>
  <router-outlet></router-outlet>
</div> -->
