.card + .card {
  margin-left: 20px;
}
.main-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 25px !important;
  overflow: auto;
  padding-left: 0;
  font-family: 'Inter', sans-serif;
  background-color: #252954;
  color: #9b9ca7;
}
.card {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  padding: 40px 30px;
  border-radius: 6px;
  display: inline-flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 430px;
  width: 100%;
}
.user-box > * {
  -webkit-animation: top 1s var(--delay) both;
  animation: top 1s var(--delay) both;
}
@media screen and (max-width: 1500px) {
  .discount {
    width: 48%;
    max-width: none;
    height: 100%;
  }
}
.discount {
  max-width: 320px;
  width: 100%;
}

.discount .title {
  margin-bottom: 30px;
}
.card .title {
  font-size: 16px;
  font-weight: 500;
}

.discount-wrapper {
  display: flex;
}

.discount .subtitle {
  margin-bottom: 8px;
}

.card .subtitle {
  font-size: 13px;
  line-height: 1.6em;
}

.discount .subtitle-count {
  font-size: 17px;
  color: #17a98a;
  font-weight: 500;
}
.discount .subtitle-count + .subtitle {
  margin-top: 20px;
}
.discount .subtitle {
  margin-bottom: 8px;
}
.card .subtitle {
  font-size: 13px;
  line-height: 1.6em;
}
.discount .subtitle-count.dist {
  color: #e85471;
}

.discount .subtitle-count {
  font-size: 14px;
  color: #17a98a;
  font-weight: 500;
}

