.user-box > * {
  -webkit-animation: top 1s var(--delay) both;
  animation: top 1s var(--delay) both;
}

/* @media screen and (max-width: 1500px) {
  .activity {
    width: 49%;
    max-width: none;
  }
  .activity {
    max-width: 480px;
  }
} */
.title {
  color: White;
}
.card {
  background: #1a2049;
  background: radial-gradient(circle, #1a2049 0%, #13162f 100%);
  padding: 40px 30px;
  /* border-radius: 6px; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* max-height: 430px; */
  width: calc(100% - 60px);
  font-family: 'Raleway', Arial, sans-serif;
  border-bottom: 1px solid #0d1030;
}
.destination {
  display: flex;
  align-items: center;
  margin-top: auto;
}
.card .subtitle {
  font-size: 13px;
  line-height: 1.6em;
  color: #bebec4;
  margin-bottom: 18px;
}
.destination-card {
  background: #1a1d3a;
  background: linear-gradient(45deg, #1a1d3a 0%, #212752 100%);
  padding: 20px;
  width: 100%;
  border-radius: 6px;
}
.destination-profile {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.profile-img {
  width: 46px;
  height: 46px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid #bebec4;
  flex-shrink: 0;
}

img {
  max-width: 100%;
}
img {
  border-style: none;
}
.destination-points {
  margin-top: 30px;
}
.point {
  font-size: 14px;
  color: #bebec4;
  font-weight: 500;
}
.sub-point {
  font-size: 13px;
  margin-top: 4px;
  color: #bebec4;
}
.destination-length {
  margin-left: auto;
  display: flex;
  align-items: center;
  font-size: 13px;
  color: #bebec4;
}

.destination-profile svg {
  width: 18px;
  flex-shrink: 0;
  margin-right: 8px;
  color: #bebec4;
}
.profile-image-container {
  width: 250px;
  height: 250px;
  margin: 0px auto;
  vertical-align: middle;
}
.circular-image-container {
  width: 100%;
  height: 250px;
  margin: 0px auto;
  vertical-align: middle;
  background: radial-gradient(#141731, #181c3f);
}
.profile-image-container img {
  animation: blob-animation 2.5s linear infinite;
  border: 2px solid 2px solid #161b3c;
  border-radius: 50% 32% 20% 70%/60% 40% 55% 40%;
  width: 100%;
  height: 100%;
}
@keyframes blob-animation {
  0% {
    border-radius: 50% 32% 20% 70%/60% 40% 55% 40%;
  }
  25% {
    border-radius: 40% 57% 40% 81% / 84% 76% 45% 38%;
  }
  50% {
    border-radius: 25% 68% 40% 46% / 59% 36% 45% 38%;
  }
  75% {
    border-radius: 40% 27% 26% 58%/70% 36% 64% 32%;
  }
  100% {
    border-radius: 50% 32% 20% 70%/60% 40% 55% 40%;
  }
}

.dp-body {
  margin: 0px;
  padding: 0px;
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: ; */
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  z-index: 1000;
  border-color: #7b36b4;
  border-style: solid;
  border-width: 1px;
  animation: circular 3s ease infinite;
}

.pp {
  content: '';
  display: block;
  justify-content: center;
  align-items: center;
  height: 180px;
  width: 180px;
  position: absolute;
  background: url(../../../assets/my-dp-4.svg);
  background-size: cover;
  border-radius: 100%;
  box-shadow: 0px 0px 28px #374894, inset 0 0 20px #0004ff;
  z-index: 1000;
}

@keyframes circular {
  0% {
    transform: rotate(0deg);
    box-shadow: 0px 0px 8px #374894, inset 0 0 8px #0004ff;
  }
  25% {
    box-shadow: 0px 0px 16px #2e48b9, inset 5px 5px 16px #8c00ff;
  }
  50% {
    box-shadow: 0px 0px 62px #002efd, inset 10px 10px 60px #7b36b4;
  }
  75% {
    box-shadow: 0px 0px 16px #2e48b9, inset 5px 5px 16px #7b36b4;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 0px 0px 8px #374894, inset 0 0 8px #0004ff;
  }
}
