<!-- <div class="profile-image-container">
  <img src="../../../assets/my-dp-1.svg" alt="profile pic" />
</div> -->
<div class="circular-image-container">
  <div class="dp-body">
    <div class="circle"></div>
    <div class="pp"></div>
  </div>
</div>
<div
  class="activity card"
  style="--delay: .2s;    box-shadow: 1px 1px 10px rgb(0 0 0 / 80%);"
>
  <div class="title">Hi there,</div>
  <div class="subtitle" *ngFor="let aboutMeDetails of aboutMe">
    {{ aboutMeDetails }}
  </div>
  <div class="destination">
    <div class="destination-card">
      <div class="destination-profile">
        <img
          class="profile-img"
          src="../../../assets/my-dp-3.svg"
        />
        <div class="destination-length">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="feather feather-map-pin"
          >
            <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0118 0z"></path>
            <circle cx="12" cy="10" r="3"></circle>
          </svg>
          45.4m
        </div>
      </div>
      <div >

        <!-- <div class="point">Traffic Point</div> -->
        <div class="infogeek-profile">
        <section class="profile">
          <div class="photo">
        <article class="info">
     
        <header>
          <h2 class="point">Sai M V</h2>
          <h3>
            <span class="label point">Profession </span>Programmer
          </h3>
          <h3>
          <span class="label point">Company </span>Cognizant Technologies and Solutions.
        </h3>
        </header>
        <hr />
        <div class="info-container">
          <p>
            <span class="label date-of-birth point">date of birth</span>
            <span class="value date-of-birth">29 September 1986</span>
          </p>
          <p>
            <span class="label date-of-birth point">articles</span>
            <span class="value date-of-birth">12</span>
          </p>
          <p>
            <span class="label date-of-birth point">age</span>
            <span class="value date-of-birth">28</span>
          </p>
          <p>
            <span class="label date-of-birth point">years of experience</span>
            <span class="value date-of-birth">8</span>
          </p>
          <p>
            <span class="label date-of-birth point">Speciality</span>
            <span class="value date-of-birth">Web technologies</span>
          </p>
        </div>
      </article>
          </div></section></div>
        <!-- <div class="sub-point">Brooklyn St, NY</div> -->
      </div>
    </div>
  </div>
</div>
